# ----- ĐƯỜNG DẪN TRÊN MÁY HOST (MÁY THẬT) CỦA BẠN -----

# 1. Thư mục chứa phần mềm Blender (bản Linux/Ubuntu)
# Hãy trỏ đến thư mục giải nén của Blender (nơi có file thực thi 'blender')
HOST_BLENDER_DIR=/opt/blender-4.2.8

# 2. Thư mục chứa Rokoko Addon đã cài trên máy host
# Thường nằm trong ~/.config/blender/4.2/scripts/addons/...
HOST_ROKOKO_DIR=/home/duylearch/.config/blender/4.2/scripts/addons/rokoko-studio-live-blender-1-4-3
HOST_ROKOKO_LIBS_DIR=/home/duylearch/.config/blender/4.2/scripts/addons/Rokoko Libraries

# 3. Thư mục data đầu vào (nơi chứa thư mục con 'smplx' xuất từ SMPLer-X)
HOST_SMPLX_OUTPUT_DIR=/home/duylearch/Documents/Text2Sign/output_smplerx
